fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
fpdf2
jinja2
psycopg[binary]
python-dotenv
starlette-csrf
openpyxl
qrcode[pil]
anthropic
email-validator
